// Highlights/Colored Backgrounds
$primary-light: #46c2bd;
$primary-dark: #043962;

// "White" Backgrounds/Text
$white-text: #e2e9ee;
$white-background: $white-text;

// "Black" Backgrounds/Text
$black-text: #091e2e;
$black-background: $black-text;

// Feedback Colors
$color-error: #b72b27;
$color-warning: #e6b41c;
$color-success: #22b523;
$color-easy: $primary-light;
